.client-container {
  padding: 10px;
}

h1 {
  color: #3c1315;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  margin-top: 20px;
  padding: 10px 0 10px 0;
  background-color: #f4e6e6;
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f4e6e6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* List of clients */

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.clients {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.clients li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #f4e6e6;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.clients li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.clients li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.clients .text {
  position: relative;
  top: -3px;
}
.clients .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #3c1315;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}