<div class="client-details" *ngIf="client">
  <div class="form-line detail-section ">
    <label class="form-line" (click)="logIt()">RECOMMENDATIONS </label>

 	<div class="recos">
	  	<div class="reco" *ngFor="let rec of fullRecs">
	  	  <p (click)="logIt()">{{rec.name}}</p>
	  	  <a href="http://www.modaoperandi.com/{{rec.url}}"><img class="rec-img" src="{{rec.image}}"></a>
	  	  <p>${{rec.price}}</p>
	  	</div>
	  	<br>
	  	<button class="button" (click)="loadRecs(10)">LOAD MORE</button>
	</div>

  </div>
</div>