<div class="inline-grid recommendations" *ngIf="client">
  <div class="form-line detail-section ">
 	<div class="tiles">
	  	<div class="tile" [ngClass]="{'unavailable': !rec.available}" *ngFor="let rec of fullRecs">
	  	  <p (click)="logIt()">{{rec.name}}</p>
 		  <p class="designer">{{rec.designer}}</p>
	  	  <a href="http://www.modaoperandi.com/{{rec.url}}"><img class="rec-img" src="{{rec.image}}"></a>
	  	  <p>${{rec.price}}</p>

	  	</div>
	  	<br>
	  	<button class="button" (click)="loadRecs(15)">LOAD MORE</button>
	</div>

  </div>
</div>