

.client-details {
	padding: 10px 0px 10px 10px;
	font-size: 10px;
	color: #343440;
}

.client-details .form-line {
	padding-bottom: 10px;
}

.client-details input {
	padding-left: 10px;
}

.detail-section {
	border-top-style: solid;
	border-width: 1px;
	border-top-color: #BDBDBD;
	padding-top: 30px;
	padding-bottom: 20px;
	flex-wrap: wrap;
	width: 100%;
	text-align: center;
}

input[type="radio"] {
	margin-right: 5px;
}

a {
	color: #A79294;
}

.first-column {
	min-width: 220px;
}
.recos {
	text-align: center;
}
.reco {
	display: inline-block;
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: #BDBDBD;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 250px;
	height: 340px;
	padding: 10px;
	text-align: center;
}

.unavailable {
	opacity: .2;
}

.removeRec {
	position: absolute;
	display: inline;	
	top: 10px;
	right: 15px;
}

.reco:hover {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.reco p {
	min-height: 40px;
	text-overflow: wrap;
	font-weight: bold;
}

.reco img {
	min-height: 180px;
}

.reco .designer {
	font-style: oblique;
	font-weight: normal;
}


